<html>
	<head>
		<title>
			Image Gallery
		</title>
		<link href="jquery/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css"/>
		<link href="style.css" rel="stylesheet" type="text/css"/>
		<script src="jquery/js/jquery-1.8.3.js"></script>
		<script src="jquery/js/jquery-ui-1.9.2.custom.min.js"></script>
		<script src="js/profile.js"></script>
		<script src="js/messages.js"></script>
		<script src="js/index.js"></script>
		
		<script type="text/javascript">
			$(function() {
				$( "input[type=submit], a, button" ).button();
			  });
		</script>
	</head>
	<body background="background.jpg">
		<table>
			<tr>
				<td>
					<% include messages %>
					<% include profile %>
				</td>
			</tr>
			<tr>
				<td>
					<section style="max-height: 300px">
						<% for (var index = 0; index < images.length; index++) {
							var image = images[index]; %>
							<div class="imageContainer" data-imageid=<%= image.imageId %>>
							    <div class="imageWidth">
							        <div class="cell" style=<%= 'height:200px;width:200px;background-repeat:no-repeat;background:url(\'files/' + user.username + '/' + image.imageId + '\')'%>><p style="color:#eee;background-color:black;margin:0px;width: 100%; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><%= image.name %></p></div>
							    </div>
							</div>
						<% } %>
					</section>
				</td>
			</tr>
		</table>
	</body>
</html>