<div align='center' id="messageBox" 
		style="background-color: PaleGreen; border: 1px solid green; border-radius: 5px; padding:10px; font-color: white">
	<span id="messageContent"></span>
	<a id="hideMessageBoxButton" class="small" style="width: 40;"><b>ok</b></a>
</div>
<div align='center' id="errorBox" 
		style="background-color: Tomato; border: 1px solid green; border-radius: 5px; padding:10px; font-color: white">
	<span id="errorContent" style="color: white"></span>
	<a id="hideErrorBoxButton" class="small" style="width: 40;"><b>ok</b></a>
</div>