.small 
{
	height: 25px; 
	width: 100px; 
	font-size: 12px;
	padding: 0px;
}

.imageContainer
{
	margin: 5px;
	float: left;
	
	border: 1px #bbb solid;
}

.hover
{
	border: 1px solid black;
	cursor: hand;
}